## Data migration case

Based on this dataset, decide what data we are going to inherit from the origin to the future data system. First understand what the data is about and what are the needs, clean and analyze the dataset and explain the process.

## Import and visualize data

In [1]:
import pandas as pd

In [2]:
origin_dataset = pd.read_csv("/Users/martafillolbruguera/Documents/Data_projects/practice_Case/dataset.csv")

In [3]:
origin_dataset.head()

,Número de serie,Equipo,Número-identificación técnica,Grupo planificación,Enviar a parte,Flota,Activo fijo,Año de construcción,Brand name,Creado el,...,Modificado por,Fe.puesta servicio,Fecha de última orden,Inic.garantía clte.,intervalo,Mes de construcción,País de fabricación,Pto.tbjo.responsable,Status de usuario,Tipo de equipo
0,H2X992W15465,1132732,3,E82,33925845,C,NaN,2008.0,LINDE,12/6/2012,...,HK57F5,NaN,11/11/2022,15/9/2008,Contrapesada térmica,5.0,DE,KXE-6188,AVLB,L
1,H2X995S19125,1207034,NaN,E12,39380933,C,NaN,2005.0,NaN,18/6/2012,...,HK57F5,NaN,13/7/2018,14/12/2011,Contrapesada eléctrica,5.0,DE,KXE-6639,AVLB PINA,L
2,W4X979W12995,1290040,1204 PMP EX,E82,33927373,C,NaN,2008.0,LINDE,18/12/2012,...,CKMAGKNK,29/5/2008,19/9/2023,NaN,Apilador,6.0,NaN,KXE-6156,AWIN,L
3,H2X994R11511,1306179,NaN,NaN,33922280,N,NaN,2004.0,LINDE,18/12/2012,...,HK57F5,30/4/2004,24/5/2023,NaN,Contrapesada térmica,5.0,NaN,NaN,AVLB,L
4,G5X997P11599,1655177,NaN,E11,33923892,C,NaN,2003.0,NaN,23/9/2014,...,HK57F5,NaN,1/4/2020,15/7/2003,Contrapesada eléctrica,6.0,GB,KXE-6263,AVLB PINA,L

## What information do we need to migrate to the future system and what data is not essential? 

In order to know this, we need to answer the next questions:

- What is the purpose of the future system? What do we want to analyze or extract from this data in the future? Will this data have to be compared and merged with other systems? 
- What is the use that we will get from this data? For example, if we want to know what is the biggest client and what machines they usually use? We want to control manufacturing time for machines that are more popular?
- Are we evaluating manufacturing time to see if we can improve it?

Knowing this we can be sure about what data is not needed or just overcomplicating the dataset and what data would be nice to have (for example, calculated fields from what we already have).

Assumption: why we need this data and what we will be using it for.

Important data according to our assumption:

## Let's analyze all the dataset step by step: 

- Check for null values, duplicates, unique values, and possible errors in format
- Substitute null values or other unnecessary data and why (ex: activo fijo could be boolean)
- Fix errors or change values that could lead to confusion
- See if we can group data to simplify the dataset
- See if we can add calculated fields to get more relevant information
- Remove columns that we won't need in the future

## Other options?

- SQL
- Review assumptions?

-------

## General exploration

In [4]:
#first let's look at the columns and description that we are working with.
#First thing that comes to mind is there are some column names that could be improved to be more readable, like enviar a parte, creado el, intervalo. It's important that we understand what the column is about without confusing it with something else in case we need to merge with other data in the future
#I also see that we have the same date were the machine was manufactured but one column is the year and the other the month, is there a reason we need this division? Can we create a column just with the manufacturing date?
#Seems like the n serie needs to be 12 cts long, so would be good to check that for all items
#Do we need to calculate extra columns? Time from manufacturing to service? Final garantía? Status PINA
#Check type of data so it can be used for analysis later
#Would be interesting to analyze later by brand, country, status


origin_dataset.head()

,Número de serie,Equipo,Número-identificación técnica,Grupo planificación,Enviar a parte,Flota,Activo fijo,Año de construcción,Brand name,Creado el,...,Modificado por,Fe.puesta servicio,Fecha de última orden,Inic.garantía clte.,intervalo,Mes de construcción,País de fabricación,Pto.tbjo.responsable,Status de usuario,Tipo de equipo
0,H2X992W15465,1132732,3,E82,33925845,C,NaN,2008.0,LINDE,12/6/2012,...,HK57F5,NaN,11/11/2022,15/9/2008,Contrapesada térmica,5.0,DE,KXE-6188,AVLB,L
1,H2X995S19125,1207034,NaN,E12,39380933,C,NaN,2005.0,NaN,18/6/2012,...,HK57F5,NaN,13/7/2018,14/12/2011,Contrapesada eléctrica,5.0,DE,KXE-6639,AVLB PINA,L
2,W4X979W12995,1290040,1204 PMP EX,E82,33927373,C,NaN,2008.0,LINDE,18/12/2012,...,CKMAGKNK,29/5/2008,19/9/2023,NaN,Apilador,6.0,NaN,KXE-6156,AWIN,L
3,H2X994R11511,1306179,NaN,NaN,33922280,N,NaN,2004.0,LINDE,18/12/2012,...,HK57F5,30/4/2004,24/5/2023,NaN,Contrapesada térmica,5.0,NaN,NaN,AVLB,L
4,G5X997P11599,1655177,NaN,E11,33923892,C,NaN,2003.0,NaN,23/9/2014,...,HK57F5,NaN,1/4/2020,15/7/2003,Contrapesada eléctrica,6.0,GB,KXE-6263,AVLB PINA,L

In [5]:
origin_dataset.columns

Index(['Número de serie', 'Equipo', 'Número-identificación técnica',
       'Grupo planificación', 'Enviar a parte', 'Flota', 'Activo fijo',
       'Año de construcción', 'Brand name', 'Creado el',
       'Denominación de garantía de cliente', 'Modificado el',
       'Modificado por', 'Fe.puesta servicio', 'Fecha de última orden',
       'Inic.garantía clte.', 'intervalo', 'Mes de construcción',
       'País de fabricación', 'Pto.tbjo.responsable', 'Status de usuario',
       'Tipo de equipo'],
      dtype='object')

In [6]:
origin_dataset.shape

#check shape of table (rows, columns)

(75564, 22)

In [7]:
origin_dataset.describe()

#not relevant in this case

             Equipo  Enviar a parte  Año de construcción  Mes de construcción
count  7.556400e+04    7.556400e+04         73369.000000         71685.000000
mean   3.778983e+06    3.403705e+07          2015.357113             5.317458
std    8.280466e+05    2.435792e+06             8.611414             3.835214
min    1.132732e+06    2.000000e+00           199.000000             0.000000
25%    3.222933e+06    3.392587e+07          2013.000000             2.000000
50%    3.256996e+06    3.393747e+07          2016.000000             5.000000
75%    4.280855e+06    3.394443e+07          2019.000000             9.000000
max    6.122680e+06    7.395305e+07          2202.000000            12.000000

In [8]:
info = pd.DataFrame(origin_dataset.info())

# information about the type of data we have and the number of null values
# we can already see here that there are some weird dtypes (dates have different types, equipo being integer, month being float) so we will fix this when cleaning.
#There are some columns that are more relevant: Equipo, Flota, Tipo de Equipo, Numero de serie. I would drop the rows that have null values in more than one of these.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75564 entries, 0 to 75563
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Número de serie                      50634 non-null  object
 1   Equipo                               75564 non-null  int64
 2   Número-identificación técnica        5817 non-null   object
 3   Grupo planificación                  13431 non-null  object
 4   Enviar a parte                       75564 non-null  int64
 5   Flota                                75558 non-null  object
 6   Activo fijo                          1800 non-null   object
 7   Año de construcción                  73369 non-null  float64
 8   Brand name                           70433 non-null  object
 9   Creado el                            75564 non-null  object
 10  Denominación de garantía de cliente  11980 non-null  object
 11  Modificado el                        63966 non-null  object
 12  Modificado por                       63966 non-null  object
 13  Fe.puesta servicio                   9741 non-null   object
 14  Fecha de última orden                12824 non-null  object
 15  Inic.garantía clte.                  11982 non-null  object
 16  intervalo                            11251 non-null  object
 17  Mes de construcción                  71685 non-null  float64
 18  País de fabricación                  9543 non-null   object
 19  Pto.tbjo.responsable                 13336 non-null  object
 20  Status de usuario                    14319 non-null  object
 21  Tipo de equipo                       75564 non-null  object
dtypes: float64(2), int64(2), object(18)
memory usage: 12.7+ MB

In [9]:
origin_dataset.isnull().sum()

#check for null values. The only columns that don't have any are Equipo, enviar a parte, Creado el, Tipo de equipo so we will consider these columns like the most relevant
#Activo fijo has the most null values so we will check this column later to see if we need it or we can substitute the null values.

Número de serie                        24930
Equipo                                     0
Número-identificación técnica          69747
Grupo planificación                    62133
Enviar a parte                             0
Flota                                      6
Activo fijo                            73764
Año de construcción                     2195
Brand name                              5131
Creado el                                  0
Denominación de garantía de cliente    63584
Modificado el                          11598
Modificado por                         11598
Fe.puesta servicio                     65823
Fecha de última orden                  62740
Inic.garantía clte.                    63582
intervalo                              64313
Mes de construcción                     3879
País de fabricación                    66021
Pto.tbjo.responsable                   62228
Status de usuario                      61245
Tipo de equipo                             0
dtype: int64

In [10]:
origin_dataset["Equipo"].value_counts()

#equipo are all unique values and non-null

1132732    1
3880535    1
3882621    1
3882562    1
3882310    1
          ..
3230089    1
3230088    1
3230087    1
3230086    1
6122680    1
Name: Equipo, Length: 75564, dtype: int64

In [11]:
origin_dataset["Número de serie"].value_counts()
# check the number of unique values in each column.
# For numero de serie which is a unique identifier we have multiple elements in the table, which means they have different values in other columns

#I would drop the rows that are duplicated if they don't have any other relevant data in other columns.

2,99E+52         17
2991552111259    12
2991552111252    11
7991142115255    11
2991552111555    11
                 ..
9521122111499     1
9521122111492     1
9521122111911     1
9521142111421     1
W45565N11195      1
Name: Número de serie, Length: 33667, dtype: int64

---------

### Conclusions from this exploration:

- We could make some adjustments in the naming of the columns to see faster what they are
- The type of data is not coherent, we will change some columns to make it easier to use in the future.
- The columns año/mes could be grouped but we have a lot of nulls, so drop the rows where we have both empty and create a new column called "manufacturing date".
- Activo Fijo has a lot of null values, could be transformed to boolean maybe.
- We could create another column to know how long has been the warranty active. because the start date alone does not say anything. 
- Before dropping columns
  - The most relevant fields could be Numero de serie, Equipo, Flota, Tipo de Equipo, Enviar a parte, brand, fecha construcción. We will drop rows that have null values in more than one of these. 

- columns to drop:  
    Modificado por: could be dropped, doesn't seem relevant for analysis or to migrate to the future system.   
    Pto.tbjo.responsable: internal doesn't seem relevant to migrate, many nulls   
    Grupo planificación: also internal seems like something that could change over time and many nulls

------

## General changes

### Updating names

In [12]:
clean_dataset = pd.read_csv("/Users/martafillolbruguera/Documents/Data_projects/practice_Case/dataset.csv")

clean_dataset.head()

,Número de serie,Equipo,Número-identificación técnica,Grupo planificación,Enviar a parte,Flota,Activo fijo,Año de construcción,Brand name,Creado el,...,Modificado por,Fe.puesta servicio,Fecha de última orden,Inic.garantía clte.,intervalo,Mes de construcción,País de fabricación,Pto.tbjo.responsable,Status de usuario,Tipo de equipo
0,H2X992W15465,1132732,3,E82,33925845,C,NaN,2008.0,LINDE,12/6/2012,...,HK57F5,NaN,11/11/2022,15/9/2008,Contrapesada térmica,5.0,DE,KXE-6188,AVLB,L
1,H2X995S19125,1207034,NaN,E12,39380933,C,NaN,2005.0,NaN,18/6/2012,...,HK57F5,NaN,13/7/2018,14/12/2011,Contrapesada eléctrica,5.0,DE,KXE-6639,AVLB PINA,L
2,W4X979W12995,1290040,1204 PMP EX,E82,33927373,C,NaN,2008.0,LINDE,18/12/2012,...,CKMAGKNK,29/5/2008,19/9/2023,NaN,Apilador,6.0,NaN,KXE-6156,AWIN,L
3,H2X994R11511,1306179,NaN,NaN,33922280,N,NaN,2004.0,LINDE,18/12/2012,...,HK57F5,30/4/2004,24/5/2023,NaN,Contrapesada térmica,5.0,NaN,NaN,AVLB,L
4,G5X997P11599,1655177,NaN,E11,33923892,C,NaN,2003.0,NaN,23/9/2014,...,HK57F5,NaN,1/4/2020,15/7/2003,Contrapesada eléctrica,6.0,GB,KXE-6263,AVLB PINA,L

In [13]:
list = clean_dataset.columns
list

for i in list:
    print(i)

Número de serie
Equipo
Número-identificación técnica
Grupo planificación
Enviar a parte
Flota
Activo fijo
Año de construcción
Brand name
Creado el
Denominación de garantía de cliente
Modificado el
Modificado por
Fe.puesta servicio
Fecha de última orden
Inic.garantía clte.
intervalo
Mes de construcción
País de fabricación
Pto.tbjo.responsable
Status de usuario
Tipo de equipo

In [14]:
# Mapping of old column names to new column names

column_mapping = {
    "Número de serie": "serial_number",
    "Equipo": "equipment_id",
    "Número-identificación técnica": "client_id",
    "Grupo planificación": "group",
    "Enviar a parte": "client_code",
    "Flota": "fleet_type",
    "Activo fijo": "fixed_asset",
    "Año de construcción": "construction_year",
    "Brand name": "brand_name",
    "Creado el": "created_date",
    "Denominación de garantía de cliente": "warranty_type",
    "Modificado el": "last_modified",
    "Modificado por": "modified_by",
    "Fe.puesta servicio": "service_start_date",
    "Fecha de última orden": "last_service_date",
    "Inic.garantía clte.": "warranty_start",
    "intervalo": "equipment_type_name",
    "Mes de construcción": "construction_month",
    "País de fabricación": "country",
    "Pto.tbjo.responsable": "technician",
    "Status de usuario": "user_status",
    "Tipo de equipo": "equipment_type"
}

clean_dataset.reset_index(drop=True, inplace=True)

clean_dataset.rename(columns=column_mapping, inplace=True)

In [15]:
clean_dataset.head()

,serial_number,equipment_id,client_id,group,client_code,fleet_type,fixed_asset,construction_year,brand_name,created_date,...,modified_by,service_start_date,last_service_date,warranty_start,equipment_type_name,construction_month,country,technician,user_status,equipment_type
0,H2X992W15465,1132732,3,E82,33925845,C,NaN,2008.0,LINDE,12/6/2012,...,HK57F5,NaN,11/11/2022,15/9/2008,Contrapesada térmica,5.0,DE,KXE-6188,AVLB,L
1,H2X995S19125,1207034,NaN,E12,39380933,C,NaN,2005.0,NaN,18/6/2012,...,HK57F5,NaN,13/7/2018,14/12/2011,Contrapesada eléctrica,5.0,DE,KXE-6639,AVLB PINA,L
2,W4X979W12995,1290040,1204 PMP EX,E82,33927373,C,NaN,2008.0,LINDE,18/12/2012,...,CKMAGKNK,29/5/2008,19/9/2023,NaN,Apilador,6.0,NaN,KXE-6156,AWIN,L
3,H2X994R11511,1306179,NaN,NaN,33922280,N,NaN,2004.0,LINDE,18/12/2012,...,HK57F5,30/4/2004,24/5/2023,NaN,Contrapesada térmica,5.0,NaN,NaN,AVLB,L
4,G5X997P11599,1655177,NaN,E11,33923892,C,NaN,2003.0,NaN,23/9/2014,...,HK57F5,NaN,1/4/2020,15/7/2003,Contrapesada eléctrica,6.0,GB,KXE-6263,AVLB PINA,L

### Changing dtypes

In [16]:
clean_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75564 entries, 0 to 75563
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   serial_number        50634 non-null  object
 1   equipment_id         75564 non-null  int64
 2   client_id            5817 non-null   object
 3   group                13431 non-null  object
 4   client_code          75564 non-null  int64
 5   fleet_type           75558 non-null  object
 6   fixed_asset          1800 non-null   object
 7   construction_year    73369 non-null  float64
 8   brand_name           70433 non-null  object
 9   created_date         75564 non-null  object
 10  warranty_type        11980 non-null  object
 11  last_modified        63966 non-null  object
 12  modified_by          63966 non-null  object
 13  service_start_date   9741 non-null   object
 14  last_service_date    12824 non-null  object
 15  warranty_start       11982 non-null  object
 16  equipment_type_name  11251 non-null  object
 17  construction_month   71685 non-null  float64
 18  country              9543 non-null   object
 19  technician           13336 non-null  object
 20  user_status          14319 non-null  object
 21  equipment_type       75564 non-null  object
dtypes: float64(2), int64(2), object(18)
memory usage: 12.7+ MB

In [17]:
#for now, change dates into datetime format, and change mes/año to int instead of float to combine later

# created_date
# last_modified
# service_start_date
# last_service_date
# warranty_start

In [18]:
clean_dataset.created_date = pd.to_datetime(clean_dataset.created_date, format='%d/%m/%Y', errors='coerce')
clean_dataset.last_modified = pd.to_datetime(clean_dataset.last_modified, format='%d/%m/%Y', errors='coerce')
clean_dataset.service_start_date = pd.to_datetime(clean_dataset.service_start_date, format='%d/%m/%Y', errors='coerce')
clean_dataset.last_service_date = pd.to_datetime(clean_dataset.last_service_date, format='%d/%m/%Y', errors='coerce')
clean_dataset.warranty_start = pd.to_datetime(clean_dataset.warranty_start, format='%d/%m/%Y', errors='coerce')

In [19]:
clean_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75564 entries, 0 to 75563
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   serial_number        50634 non-null  object
 1   equipment_id         75564 non-null  int64
 2   client_id            5817 non-null   object
 3   group                13431 non-null  object
 4   client_code          75564 non-null  int64
 5   fleet_type           75558 non-null  object
 6   fixed_asset          1800 non-null   object
 7   construction_year    73369 non-null  float64
 8   brand_name           70433 non-null  object
 9   created_date         75564 non-null  datetime64[ns]
 10  warranty_type        11980 non-null  object
 11  last_modified        63966 non-null  datetime64[ns]
 12  modified_by          63966 non-null  object
 13  service_start_date   9741 non-null   datetime64[ns]
 14  last_service_date    12824 non-null  datetime64[ns]
 15  warranty_start       11982 non-null  datetime64[ns]
 16  equipment_type_name  11251 non-null  object
 17  construction_month   71685 non-null  float64
 18  country              9543 non-null   object
 19  technician           13336 non-null  object
 20  user_status          14319 non-null  object
 21  equipment_type       75564 non-null  object
dtypes: datetime64[ns](5), float64(2), int64(2), object(13)
memory usage: 12.7+ MB

In [20]:
# review changes
clean_dataset.head()

,serial_number,equipment_id,client_id,group,client_code,fleet_type,fixed_asset,construction_year,brand_name,created_date,...,modified_by,service_start_date,last_service_date,warranty_start,equipment_type_name,construction_month,country,technician,user_status,equipment_type
0,H2X992W15465,1132732,3,E82,33925845,C,NaN,2008.0,LINDE,2012-06-12,...,HK57F5,NaT,2022-11-11,2008-09-15,Contrapesada térmica,5.0,DE,KXE-6188,AVLB,L
1,H2X995S19125,1207034,NaN,E12,39380933,C,NaN,2005.0,NaN,2012-06-18,...,HK57F5,NaT,2018-07-13,2011-12-14,Contrapesada eléctrica,5.0,DE,KXE-6639,AVLB PINA,L
2,W4X979W12995,1290040,1204 PMP EX,E82,33927373,C,NaN,2008.0,LINDE,2012-12-18,...,CKMAGKNK,2008-05-29,2023-09-19,NaT,Apilador,6.0,NaN,KXE-6156,AWIN,L
3,H2X994R11511,1306179,NaN,NaN,33922280,N,NaN,2004.0,LINDE,2012-12-18,...,HK57F5,2004-04-30,2023-05-24,NaT,Contrapesada térmica,5.0,NaN,NaN,AVLB,L
4,G5X997P11599,1655177,NaN,E11,33923892,C,NaN,2003.0,NaN,2014-09-23,...,HK57F5,NaT,2020-04-01,2003-07-15,Contrapesada eléctrica,6.0,GB,KXE-6263,AVLB PINA,L

In [21]:
#review nulls are the same as before

print(clean_dataset.isnull().sum())

origin_dataset.isnull().sum()

serial_number          24930
equipment_id               0
client_id              69747
group                  62133
client_code                0
fleet_type                 6
fixed_asset            73764
construction_year       2195
brand_name              5131
created_date               0
warranty_type          63584
last_modified          11598
modified_by            11598
service_start_date     65823
last_service_date      62740
warranty_start         63582
equipment_type_name    64313
construction_month      3879
country                66021
technician             62228
user_status            61245
equipment_type             0
dtype: int64

Número de serie                        24930
Equipo                                     0
Número-identificación técnica          69747
Grupo planificación                    62133
Enviar a parte                             0
Flota                                      6
Activo fijo                            73764
Año de construcción                     2195
Brand name                              5131
Creado el                                  0
Denominación de garantía de cliente    63584
Modificado el                          11598
Modificado por                         11598
Fe.puesta servicio                     65823
Fecha de última orden                  62740
Inic.garantía clte.                    63582
intervalo                              64313
Mes de construcción                     3879
País de fabricación                    66021
Pto.tbjo.responsable                   62228
Status de usuario                      61245
Tipo de equipo                             0
dtype: int64

In [22]:
#change float to int month and year. We can't convert null values directly to int, so we have to fill null values with 0.

clean_dataset.construction_month = clean_dataset.construction_month.fillna(0).astype(int)
clean_dataset.construction_year = clean_dataset.construction_year.fillna(0).astype(int)

In [23]:
#check that the change has been made correctly

clean_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75564 entries, 0 to 75563
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   serial_number        50634 non-null  object
 1   equipment_id         75564 non-null  int64
 2   client_id            5817 non-null   object
 3   group                13431 non-null  object
 4   client_code          75564 non-null  int64
 5   fleet_type           75558 non-null  object
 6   fixed_asset          1800 non-null   object
 7   construction_year    75564 non-null  int64
 8   brand_name           70433 non-null  object
 9   created_date         75564 non-null  datetime64[ns]
 10  warranty_type        11980 non-null  object
 11  last_modified        63966 non-null  datetime64[ns]
 12  modified_by          63966 non-null  object
 13  service_start_date   9741 non-null   datetime64[ns]
 14  last_service_date    12824 non-null  datetime64[ns]
 15  warranty_start       11982 non-null  datetime64[ns]
 16  equipment_type_name  11251 non-null  object
 17  construction_month   75564 non-null  int64
 18  country              9543 non-null   object
 19  technician           13336 non-null  object
 20  user_status          14319 non-null  object
 21  equipment_type       75564 non-null  object
dtypes: datetime64[ns](5), int64(4), object(13)
memory usage: 12.7+ MB

In [24]:
clean_dataset.isnull().sum()

#now the columns construction year and month have 0 null values.

serial_number          24930
equipment_id               0
client_id              69747
group                  62133
client_code                0
fleet_type                 6
fixed_asset            73764
construction_year          0
brand_name              5131
created_date               0
warranty_type          63584
last_modified          11598
modified_by            11598
service_start_date     65823
last_service_date      62740
warranty_start         63582
equipment_type_name    64313
construction_month         0
country                66021
technician             62228
user_status            61245
equipment_type             0
dtype: int64

In [25]:

clean_dataset.head()

,serial_number,equipment_id,client_id,group,client_code,fleet_type,fixed_asset,construction_year,brand_name,created_date,...,modified_by,service_start_date,last_service_date,warranty_start,equipment_type_name,construction_month,country,technician,user_status,equipment_type
0,H2X992W15465,1132732,3,E82,33925845,C,NaN,2008,LINDE,2012-06-12,...,HK57F5,NaT,2022-11-11,2008-09-15,Contrapesada térmica,5,DE,KXE-6188,AVLB,L
1,H2X995S19125,1207034,NaN,E12,39380933,C,NaN,2005,NaN,2012-06-18,...,HK57F5,NaT,2018-07-13,2011-12-14,Contrapesada eléctrica,5,DE,KXE-6639,AVLB PINA,L
2,W4X979W12995,1290040,1204 PMP EX,E82,33927373,C,NaN,2008,LINDE,2012-12-18,...,CKMAGKNK,2008-05-29,2023-09-19,NaT,Apilador,6,NaN,KXE-6156,AWIN,L
3,H2X994R11511,1306179,NaN,NaN,33922280,N,NaN,2004,LINDE,2012-12-18,...,HK57F5,2004-04-30,2023-05-24,NaT,Contrapesada térmica,5,NaN,NaN,AVLB,L
4,G5X997P11599,1655177,NaN,E11,33923892,C,NaN,2003,NaN,2014-09-23,...,HK57F5,NaT,2020-04-01,2003-07-15,Contrapesada eléctrica,6,GB,KXE-6263,AVLB PINA,L

## Cleaning by column

In [26]:
list = clean_dataset.columns

for i in list:
    print("### "+i)

### serial_number
### equipment_id
### client_id
### group
### client_code
### fleet_type
### fixed_asset
### construction_year
### brand_name
### created_date
### warranty_type
### last_modified
### modified_by
### service_start_date
### last_service_date
### warranty_start
### equipment_type_name
### construction_month
### country
### technician
### user_status
### equipment_type

### serial_number

- verify if Linde have 12 cts 
- Unique? 
- Missing values
- Dtype

In [27]:

clean_dataset.serial_number.info()

#dtype is string and it makes sense since it's alphanumeric element

<class 'pandas.core.series.Series'>
RangeIndex: 75564 entries, 0 to 75563
Series name: serial_number
Non-Null Count  Dtype
--------------  -----
50634 non-null  object
dtypes: object(1)
memory usage: 590.5+ KB

In [28]:
#verify if Linde has 12 cts in serial number

linde_brand = clean_dataset[clean_dataset.brand_name == "LINDE"]
linde_brand

,serial_number,equipment_id,client_id,group,client_code,fleet_type,fixed_asset,construction_year,brand_name,created_date,...,modified_by,service_start_date,last_service_date,warranty_start,equipment_type_name,construction_month,country,technician,user_status,equipment_type
0,H2X992W15465,1132732,3,E82,33925845,C,NaN,2008,LINDE,2012-06-12,...,HK57F5,NaT,2022-11-11,2008-09-15,Contrapesada térmica,5,DE,KXE-6188,AVLB,L
2,W4X979W12995,1290040,1204 PMP EX,E82,33927373,C,NaN,2008,LINDE,2012-12-18,...,CKMAGKNK,2008-05-29,2023-09-19,NaT,Apilador,6,NaN,KXE-6156,AWIN,L
3,H2X994R11511,1306179,NaN,NaN,33922280,N,NaN,2004,LINDE,2012-12-18,...,HK57F5,2004-04-30,2023-05-24,NaT,Contrapesada térmica,5,NaN,NaN,AVLB,L
5,W4X595F14922,2139958,NaN,E11,33933808,C,NaN,2015,LINDE,2015-10-14,...,HK57F5,NaT,2021-02-10,2015-10-05,Transpaleta eléctrica,10,FR,KXE-6626,ONOD PINA,L
7,H2X926C19625,2205572,NaN,E12,39327943,C,NaN,2012,LINDE,2015-12-05,...,CKMAGKNK,2020-10-08,2024-03-14,2020-12-18,Contrapesada eléctrica,5,DE,KXE-6157,SOLD RSVD,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75514,W41559C15595,6106796,A7,E81,33933227,C,NaN,0,LINDE,2024-03-20,...,NaN,NaT,2024-03-07,NaT,Transpaleta eléctrica,0,NaN,KXE-6215,AVLB,L
75517,W45565N11199,6108537,NaN,E11,33934507,R,NaN,2024,LINDE,2024-03-21,...,A0063827,2024-04-02,NaT,2024-04-02,Apilador,3,FR,LE196666,AVLB,L
75522,996F12155991,6109448,NaN,E11,39303353,C,NaN,0,LINDE,2024-03-22,...,KS411A,NaT,NaT,NaT,NaN,0,NaN,KXE-6642,AVLB,L
75526,W45552F19256,6109504,NaN,E12,33933702,C,NaN,0,LINDE,2024-03-22,...,NaN,NaT,NaT,NaT,NaN,0,NaN,KXE-6646,AVLB,L
75548,W45565N11195,6118220,NaN,E11,33934507,R,NaN,2024,LINDE,2024-03-29,...,A0084112,2024-04-03,NaT,2024-04-03,Apilador,3,FR,LE196666,AVLB,L

In [29]:
#We have 11502 rows with Linde brand elements. Now check character length

# Check rows where the length of elements in the column is NOT 12
invalid_length = linde_brand["serial_number"].str.len() != 12

# Display rows with invalid lengths with a boolean mask
rows_with_invalid_length = linde_brand[invalid_length]
rows_with_invalid_length

,serial_number,equipment_id,client_id,group,client_code,fleet_type,fixed_asset,construction_year,brand_name,created_date,...,modified_by,service_start_date,last_service_date,warranty_start,equipment_type_name,construction_month,country,technician,user_status,equipment_type
61,E1L71GTE1119242,2981089,NaN,E11,33930535,C,NaN,0,LINDE,2017-11-29,...,HK57F5,2019-05-30,2020-04-06,NaT,NaN,0,NaN,LE616666,SOTR PINA,C
348,HLI1416595,2984170,NaN,E14,33933050,R,J01186,2017,LINDE,2017-11-29,...,CKMAGKNK,NaT,2024-01-12,2017-08-22,Transpaleta manual,8,NaN,KXE-6278,NORE,L
393,GRSSALVESEN,2984446,NaN,E11,33929798,C,NaN,0,LINDE,2017-11-29,...,HK57F5,NaT,2020-02-05,2016-02-02,NaN,0,NaN,KXE-6191,AVLB PINA,C
3233,UFW212792,3013111,NaN,E11,33923308,C,NaN,2017,LINDE,2017-11-29,...,HK57F5,2021-06-15,2022-01-28,2021-06-15,Retráctil,0,SE,KXE-6626,SOLD PINA,L
3454,W4X595F15472OLD,3014862,NaN,NaN,55,C,NaN,2015,LINDE,2017-11-30,...,HK57F5,2018-10-05,NaT,2015-03-26,Transpaleta eléctrica,0,FR,NaN,SOLD PINA,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75156,NaN,6045292,NaN,NaN,39354898,C,NaN,2006,LINDE,2024-02-07,...,NaN,NaT,NaT,NaT,NaN,0,NaN,NaN,NaN,G
75301,NaN,6074424,NaN,NaN,32384905,C,NaN,1996,LINDE,2024-02-27,...,NaN,NaT,NaT,NaT,NaN,0,NaN,NaN,NaN,G
75323,BAT.H2X922D11122,6076355,NaN,E12,33937707,C,NaN,0,LINDE,2024-02-28,...,KS411A,NaT,NaT,NaT,NaN,0,NaN,KXE-6646,AVLB,L
75429,NaN,6087932,NaN,NaN,33940808,C,NaN,1998,LINDE,2024-03-07,...,NaN,NaT,NaT,NaT,NaN,0,NaN,NaN,NaN,G
75430,NaN,6087934,NaN,NaN,33940808,C,NaN,1998,LINDE,2024-03-07,...,NaN,NaT,NaT,NaT,NaN,0,NaN,NaN,NaN,G

In [30]:
#there are 777 rows of invalid length, so i would drop these

invalid_rows = (clean_dataset["brand_name"] == "LINDE") & (clean_dataset["serial_number"].str.len() != 12)
clean_dataset = clean_dataset[~invalid_rows]

print(clean_dataset)

      serial_number  equipment_id    client_id group  client_code fleet_type  \
0      H2X992W15465       1132732            3   E82     33925845          C
1      H2X995S19125       1207034          NaN   E12     39380933          C
2      W4X979W12995       1290040  1204 PMP EX   E82     33927373          C
3      H2X994R11511       1306179          NaN   NaN     33922280          N
4      G5X997P11599       1655177          NaN   E11     33923892          C
...             ...           ...          ...   ...          ...        ...
75559           NaN       6122641          NaN   NaN     39333323          C
75560           NaN       6122642          NaN   NaN     39333323          C
75561           NaN       6122677          NaN   NaN     39333323          C
75562           NaN       6122678          NaN   NaN     39333323          C
75563           NaN       6122680          NaN   NaN     39333323          C

      fixed_asset  construction_year brand_name created_date  ... modified_by  \
0             NaN               2008      LINDE   2012-06-12  ...      HK57F5
1             NaN               2005        NaN   2012-06-18  ...      HK57F5
2             NaN               2008      LINDE   2012-12-18  ...    CKMAGKNK
3             NaN               2004      LINDE   2012-12-18  ...      HK57F5
4             NaN               2003        NaN   2014-09-23  ...      HK57F5
...           ...                ...        ...          ...  ...         ...
75559         NaN               2024     Others   2024-04-03  ...         NaN
75560         NaN               2024     Others   2024-04-03  ...         NaN
75561         NaN               2024     Others   2024-04-03  ...         NaN
75562         NaN               2024     Others   2024-04-03  ...         NaN
75563         NaN               2024     Others   2024-04-03  ...         NaN

      service_start_date last_service_date warranty_start  \
0                    NaT        2022-11-11     2008-09-15
1                    NaT        2018-07-13     2011-12-14
2             2008-05-29        2023-09-19            NaT
3             2004-04-30        2023-05-24            NaT
4                    NaT        2020-04-01     2003-07-15
...                  ...               ...            ...
75559                NaT               NaT            NaT
75560                NaT               NaT            NaT
75561                NaT               NaT            NaT
75562                NaT               NaT            NaT
75563                NaT               NaT            NaT

          equipment_type_name construction_month country  technician  \
0        Contrapesada térmica                  5      DE    KXE-6188
1      Contrapesada eléctrica                  5      DE    KXE-6639
2                    Apilador                  6     NaN    KXE-6156
3        Contrapesada térmica                  5     NaN         NaN
4      Contrapesada eléctrica                  6      GB    KXE-6263
...                       ...                ...     ...         ...
75559                     NaN                  6     NaN         NaN
75560                     NaN                  6     NaN         NaN
75561                     NaN                  6     NaN         NaN
75562                     NaN                  6     NaN         NaN
75563                     NaN                  6     NaN         NaN

      user_status equipment_type
0            AVLB              L
1       AVLB PINA              L
2            AWIN              L
3            AVLB              L
4       AVLB PINA              L
...           ...            ...
75559         NaN              G
75560         NaN              G
75561         NaN              G
75562         NaN              G
75563         NaN              G

[74787 rows x 22 columns]

In [31]:
#now we have 74787 rows, 777 less than before

clean_dataset.shape

(74787, 22)

In [32]:
#we still have null values. I would drop them unless we can use equipment id as a unique identifier. So let's check first equipment ID unique values and then come back to this to see if we have still too many nulls.

clean_dataset.serial_number.isnull().sum()

24261

In [33]:
#since serial number is critical, I would drop the rows that have nulls (it's 30% of the rows)

clean_dataset = clean_dataset.dropna(subset=["serial_number"])

In [34]:
clean_dataset.shape

(50526, 22)

### equipment_id

- see if we have unique values
- missing values
- dtype

In [35]:
clean_dataset.equipment_id.isnull().sum()

0

In [36]:
clean_dataset.equipment_id.unique

<bound method Series.unique of 0        1132732
1        1207034
2        1290040
3        1306179
4        1655177
          ...
75532    6109690
75533    6109768
75541    6111696
75542    6112185
75548    6118220
Name: equipment_id, Length: 50526, dtype: int64>

In [37]:
#perfect, we have 74787 unique values and 0 nulls so we don't have to drop anything.

### client_id

- see if we have unique values
- missing values
- dtype

In [38]:
clean_dataset.client_id.isnull().sum()

44787

In [39]:
clean_dataset.client_id.value_counts()

2                      78
3                      77
1                      72
SUPERSOL BELLAVISTA    68
SUPERSOL GETAFE        63
                       ..
PALENCIA                1
SALAMANCA               1
24v/225ah               1
CON POCISIONADOR        1
muelle palas largas     1
Name: client_id, Length: 2953, dtype: int64

In [40]:
clean_dataset.client_id.info()

<class 'pandas.core.series.Series'>
Int64Index: 50526 entries, 0 to 75548
Series name: client_id
Non-Null Count  Dtype
--------------  -----
5739 non-null   object
dtypes: object(1)
memory usage: 789.5+ KB

In [41]:
#we could drop this column because it has 93% null values and it's not reliable as an id, as it's how the client identifies it so we might not need this for future systems.

clean_dataset = clean_dataset.drop(columns=["client_id"])
clean_dataset.head()

,serial_number,equipment_id,group,client_code,fleet_type,fixed_asset,construction_year,brand_name,created_date,warranty_type,...,modified_by,service_start_date,last_service_date,warranty_start,equipment_type_name,construction_month,country,technician,user_status,equipment_type
0,H2X992W15465,1132732,E82,33925845,C,NaN,2008,LINDE,2012-06-12,NaN,...,HK57F5,NaT,2022-11-11,2008-09-15,Contrapesada térmica,5,DE,KXE-6188,AVLB,L
1,H2X995S19125,1207034,E12,39380933,C,NaN,2005,NaN,2012-06-18,NaN,...,HK57F5,NaT,2018-07-13,2011-12-14,Contrapesada eléctrica,5,DE,KXE-6639,AVLB PINA,L
2,W4X979W12995,1290040,E82,33927373,C,NaN,2008,LINDE,2012-12-18,NaN,...,CKMAGKNK,2008-05-29,2023-09-19,NaT,Apilador,6,NaN,KXE-6156,AWIN,L
3,H2X994R11511,1306179,NaN,33922280,N,NaN,2004,LINDE,2012-12-18,NaN,...,HK57F5,2004-04-30,2023-05-24,NaT,Contrapesada térmica,5,NaN,NaN,AVLB,L
4,G5X997P11599,1655177,E11,33923892,C,NaN,2003,NaN,2014-09-23,12 Mon./2000 h,...,HK57F5,NaT,2020-04-01,2003-07-15,Contrapesada eléctrica,6,GB,KXE-6263,AVLB PINA,L

### group

Also could be dropped, I don't see how this would be relevant in the future

In [42]:
clean_dataset.group.isnull().sum()

37178

In [43]:
clean_dataset.group.value_counts()

E11    5446
E12    2648
E81    2271
E14    1740
E13     646
E82     596
E83       1
Name: group, dtype: int64

In [47]:
clean_dataset.group.unique()

array(['E82', 'E12', nan, 'E11', 'E13', 'E14', 'E81', 'E83'], dtype=object)

In [48]:
#for now maybe let's fillna with "unknown"

clean_dataset.group = clean_dataset.group.fillna("unknown")
clean_dataset.group.isnull().sum()

0

In [49]:
clean_dataset.group.value_counts()

unknown    37178
E11         5446
E12         2648
E81         2271
E14         1740
E13          646
E82          596
E83            1
Name: group, dtype: int64

### client_code

"enviar a parte" 

This is a relevant column

In [50]:
clean_dataset.client_code.isnull().sum()

0

In [53]:
clean_dataset.client_code.unique

<bound method Series.unique of 0        33925845
1        39380933
2        33927373
3        33922280
4        33923892
           ...
75532    33934592
75533    33934592
75541    33920279
75542    33923302
75548    33934507
Name: client_code, Length: 50526, dtype: int64>

In [54]:
clean_dataset.shape

(50526, 21)

In [55]:
#all the client codes are unique, so this is good.

In [ ]:
clean_dataset.client_code.info()

<class 'pandas.core.series.Series'>
Int64Index: 50526 entries, 0 to 75548
Series name: client_code
Non-Null Count  Dtype
--------------  -----
50526 non-null  int64
dtypes: int64(1)
memory usage: 789.5 KB

### fleet_type

In [59]:
clean_dataset.fleet_type.isnull().sum()

6

In [60]:
clean_dataset.fleet_type.unique()

array(['C', 'N', 'U', 'R', 'D', nan], dtype=object)

In [61]:
#since there are only 6 nulls and it's a relevant field, i will drop them

clean_dataset = clean_dataset.dropna(subset=["fleet_type"])

In [64]:
clean_dataset.fleet_type.isnull().sum()

0

In [62]:
clean_dataset.shape

(50520, 21)

### Activo fijo

Activo Fijo. Cuanto la maquina pertenece a flotas de la compañía tiene asociado un numero de activo.

Convert to boolean, 0/1

In [65]:
clean_dataset.fixed_asset.isnull().sum()

48723

In [66]:
clean_dataset.fixed_asset.unique()

array([nan, 'J06271', 'J05127', ..., 'J096J3', 'J096J2', 'J096JJ'],
      dtype=object)

In [67]:
clean_dataset.fixed_asset.value_counts()

J05127    2
J01211    2
J072J6    1
J07JJ9    1
J07378    1
         ..
J08856    1
J0391J    1
J08953    1
J0J921    1
J096JJ    1
Name: fixed_asset, Length: 1795, dtype: int64

In [68]:
#not sure if i would drop it, because it's internal classification so not sure about the future use with other systems. and there are only 1795 assets.

#for now let's fillna with not applicable in case it's not a fixed asset

clean_dataset.fixed_asset = clean_dataset.fixed_asset.fillna("N/A")

In [70]:
clean_dataset.fixed_asset.isnull().sum()

0

### Año de construcción

Año de fabricación del equipo.  

Converted to int, we will group later

In [72]:
clean_dataset.construction_year.isnull().sum()

0

In [73]:
clean_dataset.construction_year.unique()

array([2008, 2005, 2004, 2003, 2015, 2012, 2016,    0, 2017, 2013, 2014,
       2000, 2001, 2007, 1999, 2002, 2006, 2010, 2011, 2009, 2019, 1998,
       1993, 1995, 1997, 1991, 1989, 1990, 1992, 1994, 1984, 1986, 1987,
       1988, 1900, 1996, 1985, 2018, 2023, 2020, 2022, 2021, 2024,  199])

In [86]:
# we see some wrong years, let's delete them

wrong_year = clean_dataset[(clean_dataset.construction_year == 0) | (clean_dataset.construction_year == 199)]
wrong_year.construction_year.value_counts()

0      2129
199       1
Name: construction_year, dtype: int64

In [92]:
clean_dataset = clean_dataset[~((clean_dataset.construction_year == 0) | (clean_dataset.construction_year == 199))]
clean_dataset.construction_year.unique()

array([2008, 2005, 2004, 2003, 2015, 2012, 2016, 2017, 2013, 2014, 2000,
       2001, 2007, 1999, 2002, 2006, 2010, 2011, 2009, 2019, 1998, 1993,
       1995, 1997, 1991, 1989, 1990, 1992, 1994, 1984, 1986, 1987, 1988,
       1900, 1996, 1985, 2018, 2023, 2020, 2022, 2021, 2024])

In [94]:
clean_dataset.shape

(48390, 21)

In [95]:
clean_dataset.construction_year.isnull().sum()

0

### Brand name

In [97]:
clean_dataset.brand_name.isnull().sum()

3478

In [ ]:
#ok we have some null values, let's see what the others are

clean_dataset.brand_name.unique()

array(['LINDE', nan, 'KÄRCHER', 'Others', 'Still / OM Pimespo', 'FENWICK',
       'Not defined', 'Toyota / BT', 'NISSAN', 'JUNGHEINRICH', 'CLARK',
       'DAEWOO', 'YALE', 'CATERPILLAR', 'MITSUBISHI', 'HYSTER', 'CROWN',
       'KOMATSU', 'CESAB', 'KALMAR', 'ATLET', 'STEINBOCK', 'MANITOU',
       'LUGLI', 'BT !!OUT OF DATE!!', 'BOLZONI-AURAMO', 'CASCADE'],
      dtype=object)

In [100]:
clean_dataset.brand_name.value_counts()

LINDE                 10482
Toyota / BT           10159
JUNGHEINRICH           5640
Still / OM Pimespo     5153
Others                 4333
HYSTER                 2406
NISSAN                 2308
CATERPILLAR            1056
MITSUBISHI              936
YALE                    721
CROWN                   524
KOMATSU                 363
CLARK                   291
CESAB                   239
DAEWOO                  116
ATLET                   114
KALMAR                   36
LUGLI                    11
STEINBOCK                10
MANITOU                   3
CASCADE                   3
FENWICK                   2
KÄRCHER                   2
BT !!OUT OF DATE!!        2
Not defined               1
BOLZONI-AURAMO            1
Name: brand_name, dtype: int64

In [102]:
#i see that there is a not defined brand, so let's check if we can fillna with this value
clean_dataset.brand_name = clean_dataset.brand_name.fillna("Not defined")
clean_dataset.brand_name.isnull().sum()

0

In [103]:
clean_dataset.brand_name.value_counts()

LINDE                 10482
Toyota / BT           10159
JUNGHEINRICH           5640
Still / OM Pimespo     5153
Others                 4333
Not defined            3479
HYSTER                 2406
NISSAN                 2308
CATERPILLAR            1056
MITSUBISHI              936
YALE                    721
CROWN                   524
KOMATSU                 363
CLARK                   291
CESAB                   239
DAEWOO                  116
ATLET                   114
KALMAR                   36
LUGLI                    11
STEINBOCK                10
MANITOU                   3
CASCADE                   3
FENWICK                   2
KÄRCHER                   2
BT !!OUT OF DATE!!        2
BOLZONI-AURAMO            1
Name: brand_name, dtype: int64

### Creado el

### Denominación de garantía de cliente

### Modificado el

### Modificado por

### Fe.puesta servicio

### Fecha de última orden

### Inic.garantía clte.

### intervalo

### Mes de construcción

### País de fabricación

### Pto.tbjo.responsable

### Status de usuario

### Tipo de equipo

## Add calculated fields + re-order